.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-navlink {
  text-decoration: none;
}














@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
}

.testimonial-card-testimonial-card {
  width: auto;
  margin: var(--dl-space-space-halfunit);
  display: flex;
  padding: var(--dl-space-space-threeunits);
  position: relative;
  max-width: auto;
  min-width: 80px;
  background: #fff;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-primary-purple);
}
.testimonial-card-text {
  font-size: 1rem;
  font-weight: 600;
  padding-bottom: var(--dl-space-space-unit);
}
.testimonial-card-text1 {
  color: var(--dl-color-gray-white);
  font-size: 1.1rem;
}
.testimonial-card-image {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  object-fit: cover;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-round);
}
.testimonial-card-testimonial {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: space-between;
  background-color: #D9D9D9;
}
.testimonial-card-root-class-name6 {
  width: 12%;
  min-width: 130px;
  background-color: #E40303;
}
@media(max-width: 991px) {
  .testimonial-card-root-class-name6 {
    min-width: 130px;
  }
}
@media(max-width: 767px) {
  .testimonial-card-testimonial-card {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .testimonial-card-testimonial {
    margin-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .testimonial-card-testimonial-card {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .testimonial-card-testimonial {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.about-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-bg-light);
}
.about-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-gray-bg-light);
}
.about-navlink {
  display: contents;
}
.about-image {
  width: 150px;
  object-fit: contain;
  text-decoration: none;
}
.about-nav {
  display: flex;
}
.about-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.about-navlink1 {
  text-decoration: none;
}
.about-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.about-login {
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.about-register {
  text-decoration: none;
}
.about-burger-menu {
  display: none;
}
.about-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.about-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.about-nav2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.about-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.about-navlink2 {
  display: contents;
}
.about-image1 {
  width: 150px;
  object-fit: contain;
  text-decoration: none;
}
.about-login1 {
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.about-register1 {
  text-decoration: none;
}
.about-navigation-links {
  text-decoration: none;
}
.about-text {
  font-family: Rubik Mono One;
}
.about-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
}
.about-text01 {
  color: var(--dl-color-gray-500);
  font-family: Rubik Mono One;
}
.about-text02 {
  font-size: 18px;
}
.about-text04 {
  padding-top: var(--dl-space-space-unit);
}
.about-text05 {
  color: var(--dl-color-gray-500);
  align-self: flex-start;
  font-family: Rubik Mono One;
  margin-left: var(--dl-space-space-twounits);
}
.about-text06 {
  font-size: 18px;
}
.about-container3 {
  flex: 50px;
  width: 100%;
  display: flex;
  align-self: stretch;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
}
.about-testimonial-card {
  width: 12%;
  margin: var(--dl-space-space-halfunit);
  display: flex;
  padding: var(--dl-space-space-threeunits);
  position: relative;
  max-width: auto;
  min-width: 130px;
  background: #fff;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: #FF8C00;
}
.about-text08 {
  font-size: 1rem;
  font-weight: 600;
  padding-bottom: var(--dl-space-space-unit);
}
.about-text09 {
  color: var(--dl-color-gray-white);
  font-size: 1.1rem;
}
.about-image2 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  object-fit: cover;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-round);
}
.about-testimonial {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: space-between;
  background-color: #D9D9D9;
}
.about-testimonial-card1 {
  width: 12%;
  margin: var(--dl-space-space-halfunit);
  display: flex;
  padding: var(--dl-space-space-threeunits);
  position: relative;
  max-width: auto;
  min-width: 130px;
  background: #fff;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: #FFED00;
}
.about-text11 {
  font-size: 1rem;
  font-weight: 600;
  padding-bottom: var(--dl-space-space-unit);
}
.about-text12 {
  color: var(--dl-color-gray-500);
  font-size: 1.1rem;
}
.about-image3 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  object-fit: cover;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-round);
}
.about-testimonial1 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: space-between;
  background-color: #D9D9D9;
}
.about-testimonial-card2 {
  width: 12%;
  margin: var(--dl-space-space-halfunit);
  display: flex;
  padding: var(--dl-space-space-threeunits);
  position: relative;
  max-width: auto;
  min-width: 130px;
  background: #fff;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: #008026;
}
.about-text14 {
  color: var(--dl-color-gray-white);
  font-size: 1rem;
  font-weight: 600;
  padding-bottom: var(--dl-space-space-unit);
}
.about-image4 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  object-fit: cover;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-round);
}
.about-testimonial2 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: space-between;
  background-color: #D9D9D9;
}
.about-container4 {
  flex: 50px;
  width: 100%;
  display: flex;
  align-self: stretch;
  padding-top: 0px;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: row;
  padding-bottom: 0px;
}
.about-testimonial-card3 {
  width: 12%;
  margin: var(--dl-space-space-halfunit);
  display: flex;
  padding: var(--dl-space-space-threeunits);
  position: relative;
  max-width: auto;
  min-width:  130px;
  background: #fff;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color:  #24408E;
}
.about-text15 {
  color: var(--dl-color-gray-white);
  font-size: 1rem;
  font-weight: 600;
  padding-bottom: var(--dl-space-space-unit);
}
.about-image5 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  object-fit: cover;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-round);
}
.about-testimonial3 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: space-between;
  background-color: #D9D9D9;
}
.about-testimonial-card4 {
  width: 12%;
  margin: var(--dl-space-space-halfunit);
  display: flex;
  padding: var(--dl-space-space-threeunits);
  position: relative;
  max-width: auto;
  min-width: 130px;
  background: #fff;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: #732982;
}
.about-text16 {
  font-size: 1rem;
  font-weight: 600;
  padding-bottom: var(--dl-space-space-unit);
}
.about-text17 {
  color: var(--dl-color-gray-white);
  font-size: 18px;
}
.about-text18 {
  color: var(--dl-color-gray-white);
  font-size: 18px;
}
.about-image6 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  object-fit: cover;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-round);
}
.about-testimonial4 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: space-between;
  background-color: #D9D9D9;
}
.about-testimonial-card5 {
  width: 12%;
  margin: var(--dl-space-space-halfunit);
  display: flex;
  padding: var(--dl-space-space-threeunits);
  position: relative;
  max-width: auto;
  min-width: 130px;
  background: #fff;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-primary-pink);
}
.about-text20 {
  color: var(--dl-color-gray-white);
  font-size: 1rem;
  font-weight: 600;
  padding-bottom: var(--dl-space-space-unit);
}
.about-image7 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  object-fit: cover;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-round);
}
.about-testimonial5 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: space-between;
  background-color: #D9D9D9;
}
.about-testimonial6 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  justify-content: center;
  background-color: 232323;
}
.about-image8 {
  width: 1000px;
  height: 1000px;
  align-self: flex-end;
  object-fit: cover;
  object-position: top;
}
@media(max-width: 991px) {
  .about-image {
    left: 80px;
  }
  .about-mobile-menu {
    width: 772px;
    display: none;
    background-color: var(--dl-color-gray-bg-light);
  }
  .about-container1 {
    margin-top: var(--dl-space-space-threeunits);
    align-items: flex-start;
    flex-direction: column;
  }
  .about-image1 {
    left: 80px;
    padding-top: 0px;
  }
  .about-login1 {
    margin-top: var(--dl-space-space-twounits);
  }
  .about-register1 {
    margin-top: var(--dl-space-space-twounits);
  }
  .about-container3 {
    padding-bottom: var(--dl-space-space-unit);
  }
  .about-testimonial-card {
    min-width: 130px;
  }
  .about-testimonial-card1 {
    min-width: 130px;
  }
  .about-testimonial-card2 {
    min-width: 130px;
  }
  .about-container4 {
    padding-top: 0px;
  }
  .about-testimonial-card3 {
    padding: var(--dl-space-space-threeunits);
    min-width: 130px;
  }
  .about-testimonial-card4 {
    min-width: 140px;
  }
  .about-text16 {
    font-size: 19px;
  }
  .about-testimonial-card5 {
    min-width: 130px;
    padding-top: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .about-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-image {
    left: 40px;
  }
  .about-nav {
    display: none;
  }
  .about-nav1 {
    align-items: flex-start;
    flex-direction: column;
  }
  .about-navlink1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-btn-group {
    display: none;
  }
  .about-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about-mobile-menu {
    display: none;
  }
  .about-image1 {
    left: 40px;
  }
  .about-container3 {
    flex-direction: column;
  }
  .about-testimonial-card {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-testimonial {
    margin-right: var(--dl-space-space-twounits);
  }
  .about-testimonial-card1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-testimonial1 {
    margin-right: var(--dl-space-space-twounits);
  }
  .about-testimonial-card2 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-testimonial2 {
    margin-right: var(--dl-space-space-twounits);
  }
  .about-testimonial-card3 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-testimonial3 {
    margin-right: var(--dl-space-space-twounits);
  }
  .about-testimonial-card4 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-testimonial4 {
    margin-right: var(--dl-space-space-twounits);
  }
  .about-testimonial-card5 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-testimonial5 {
    margin-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .about-header {
    padding: var(--dl-space-space-unit);
  }
  .about-image {
    left: 20px;
    width: 80px;
  }
  .about-mobile-menu {
    display: none;
    padding: 16px;
  }
  .about-image1 {
    left: 20px;
    width: 80px;
  }
  .about-testimonial-card {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .about-testimonial {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-testimonial-card1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .about-testimonial1 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-testimonial-card2 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .about-testimonial2 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-testimonial-card3 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .about-testimonial3 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-testimonial-card4 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .about-testimonial4 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-testimonial-card5 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .about-testimonial5 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
