.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-navlink {
  text-decoration: none;
}














@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
}

.profile-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-bg-light);
}
.profile-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-gray-bg-light);
}
.profile-navlink {
  display: contents;
}
.profile-image {
  width: 150px;
  object-fit: contain;
  text-decoration: none;
}
.profile-nav {
  display: flex;
}
.profile-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.profile-navlink1 {
  text-decoration: none;
}
.profile-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.profile-login {
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.profile-register {
  text-decoration: none;
}
.profile-burger-menu {
  display: none;
}
.profile-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.profile-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.profile-nav2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.profile-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.profile-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.profile-navlink2 {
  display: contents;
}
.profile-image1 {
  width: 150px;
  object-fit: contain;
  text-decoration: none;
}
.profile-login1 {
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.profile-register1 {
  text-decoration: none;
}
.profile-navigation-links {
  text-decoration: none;
}
.profile-image2 {
  width: 1000px;
  height: 1000px;
  align-self: flex-end;
  object-fit: cover;
  object-position: top;
}
@media(max-width: 991px) {
  .profile-image {
    left: 80px;
  }
  .profile-mobile-menu {
    width: 772px;
    display: none;
    background-color: var(--dl-color-gray-bg-light);
  }
  .profile-container1 {
    margin-top: var(--dl-space-space-threeunits);
    align-items: flex-start;
    flex-direction: column;
  }
  .profile-image1 {
    left: 80px;
    padding-top: 0px;
  }
  .profile-login1 {
    margin-top: var(--dl-space-space-twounits);
  }
  .profile-register1 {
    margin-top: var(--dl-space-space-twounits);
  }
}
@media(max-width: 767px) {
  .profile-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .profile-image {
    left: 40px;
  }
  .profile-nav {
    display: none;
  }
  .profile-nav1 {
    align-items: flex-start;
    flex-direction: column;
  }
  .profile-navlink1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .profile-btn-group {
    display: none;
  }
  .profile-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .profile-mobile-menu {
    display: none;
  }
  .profile-image1 {
    left: 40px;
  }
}
@media(max-width: 479px) {
  .profile-header {
    padding: var(--dl-space-space-unit);
  }
  .profile-image {
    left: 20px;
    width: 80px;
  }
  .profile-mobile-menu {
    display: none;
    padding: 16px;
  }
  .profile-image1 {
    left: 20px;
    width: 80px;
  }
}
