.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-navlink {
  text-decoration: none;
}














@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
}

.signup-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-bg-light);
}
.signup-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-gray-bg-light);
}
.signup-navlink {
  display: contents;
}
.signup-image {
  width: 150px;
  object-fit: contain;
  text-decoration: none;
}
.signup-nav {
  display: flex;
}
.signup-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.signup-navlink1 {
  text-decoration: none;
}
.signup-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.signup-login {
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.signup-register {
  text-decoration: none;
}
.signup-burger-menu {
  display: none;
}
.signup-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.signup-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.signup-nav2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.signup-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.signup-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.signup-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.signup-navlink2 {
  display: contents;
}
.signup-image1 {
  width: 150px;
  object-fit: contain;
  text-decoration: none;
}
.signup-login1 {
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.signup-register1 {
  text-decoration: none;
}
.signup-navigation-links {
  text-decoration: none;
}
.signup-sign-up-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  z-index: 1;
  align-self: stretch;
  margin-top: var(--dl-space-space-threeunits);
  align-items: center;
  justify-content: flex-start;
}
.signup-form {
  width: 80%;
  height: auto;
  margin: var(--dl-space-space-threeunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: center;
}
.signup-text {
  color: var(--dl-color-primary-pink);
  align-self: flex-start;
  margin-top: var(--dl-space-space-unit);
  font-family: Rubik Mono One;
  margin-left: 0px;
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
  padding-bottom: 0nit;
}
.signup-text1 {
  align-self: flex-start;
  margin-top: 0px;
  font-family: Rubik Mono One;
  margin-left: 0px;
  margin-bottom: var(--dl-space-space-twounits);
}
.signup-form-container {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-start;
}
.signup-name-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: 0px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
.signup-label-container {
  flex: 0 0 auto;
  width: 20%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.signup-text2 {
  color: var(--dl-color-gray-500);
  font-size: 20px;
  font-family: Rubik Mono One;
}
.signup-input-container {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.signup-textinput {
  width: 50%;
  padding: var(--dl-space-space-unit);
  margin-top: 0it;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 0px;
}
.signup-email-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: 0px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
.signup-label-container1 {
  flex: 0 0 auto;
  width: 20%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.signup-text3 {
  color: var(--dl-color-gray-500);
  font-size: 20px;
  text-align: left;
  font-family: Rubik Mono One;
}
.signup-input-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.signup-textinput1 {
  width: 50%;
  padding: var(--dl-space-space-unit);
  margin-top: 0it;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 0px;
}
.signup-username-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: 0px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
.signup-label-container2 {
  flex: 0 0 auto;
  width: 20%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.signup-text4 {
  color: var(--dl-color-gray-500);
  font-size: 20px;
  text-align: left;
  font-family: Rubik Mono One;
}
.signup-input-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.signup-textinput2 {
  width: 50%;
  padding: var(--dl-space-space-unit);
  margin-top: 0it;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 0px;
}
.signup-password-container {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: 0px;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
.signup-label-container3 {
  flex: 0 0 auto;
  width: 20%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.signup-text5 {
  color: var(--dl-color-gray-500);
  font-size: 20px;
  text-align: left;
  font-family: Rubik Mono One;
}
.signup-input-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.signup-textinput3 {
  width: 50%;
  padding: var(--dl-space-space-unit);
  margin-top: 0it;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: 0px;
}
.signup-container2 {
  display: flex;
  position: relative;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
}
.signup-button {
  color: #ea3387;
  width: 200px;
  height: 2rem;
  display: flex;
  align-self: center;
  transition: 0.3s;
  align-items: center;
  margin-left: Unit;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-primary-bg);
  border-width: 0px;
  margin-right: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-primary-bg);
}
.signup-button:hover {
  color: rgb(255, 0, 137);
  background-color: transparent;
}
.signup-button:active {
  color: var(--dl-color-gray-white);
  background-color: #f9a2d3;
}
.signup-container3 {
  display: flex;
  position: relative;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
}
.signup-button1 {
  color: #ea3387;
  width: 400px;
  cursor: pointer;
  height: 2rem;
  display: flex;
  align-self: center;
  transition: 0.3s;
  align-items: center;
  margin-left: Unit;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-primary-bg);
  border-width: 0px;
  margin-right: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-primary-bg);
}
.signup-button1:hover {
  color: rgb(255, 0, 137);
  background-color: transparent;
}
.signup-button1:active {
  color: var(--dl-color-gray-white);
  background-color: #f9a2d3;
}
.signup-rainbow-bg-container {
  width: auto;
  height: 602px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.signup-image2 {
  width: 1000px;
  height: 1000px;
  z-index: -0;
  align-self: flex-end;
  object-fit: cover;
  object-position: top;
}
@media(max-width: 991px) {
  .signup-image {
    left: 80px;
  }
  .signup-mobile-menu {
    width: 772px;
    display: none;
    background-color: var(--dl-color-gray-bg-light);
  }
  .signup-container1 {
    margin-top: var(--dl-space-space-threeunits);
    align-items: flex-start;
    flex-direction: column;
  }
  .signup-image1 {
    left: 80px;
    padding-top: 0px;
  }
  .signup-login1 {
    margin-top: var(--dl-space-space-twounits);
  }
  .signup-register1 {
    margin-top: var(--dl-space-space-twounits);
  }
  .signup-form {
    height: auto;
  }
  .signup-form-container {
    flex-direction: column;
  }
  .signup-textinput {
    align-self: flex-start;
  }
  .signup-textinput1 {
    align-self: flex-start;
  }
  .signup-textinput2 {
    align-self: flex-start;
  }
  .signup-textinput3 {
    align-self: flex-start;
  }
  .signup-container2 {
    align-self: flex-start;
    margin-left: var(--dl-space-space-unit);
  }
  .signup-button {
    color: var(--dl-color-primary-pink);
    cursor: pointer;
    align-self: flex-start;
    margin-top: 0px;
    margin-right: var(--dl-space-space-halfunit);
    margin-bottom: 0px;
    justify-content: center;
    background-color: var(--dl-color-primary-bg);
  }
  .signup-container3 {
    align-self: flex-start;
    margin-left: var(--dl-space-space-unit);
  }
  .signup-button1 {
    color: var(--dl-color-primary-pink);
    align-self: flex-start;
    margin-top: 0it;
    margin-right: var(--dl-space-space-halfunit);
    margin-bottom: 0it;
    justify-content: center;
    background-color: var(--dl-color-primary-bg);
  }
}
@media(max-width: 767px) {
  .signup-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .signup-image {
    left: 40px;
  }
  .signup-nav {
    display: none;
  }
  .signup-nav1 {
    align-items: flex-start;
    flex-direction: column;
  }
  .signup-navlink1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .signup-btn-group {
    display: none;
  }
  .signup-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .signup-mobile-menu {
    display: none;
  }
  .signup-image1 {
    left: 40px;
  }
  .signup-sign-up-container {
    width: auto;
  }
  .signup-form {
    width: auto;
    height: auto;
  }
  .signup-text1 {
    font-size: 20px;
    margin-right: var(--dl-space-space-twounits);
  }
  .signup-form-container {
    height: auto;
  }
  .signup-label-container {
    width: 30%;
  }
  .signup-textinput {
    width: 55%;
  }
  .signup-label-container1 {
    width: 30%;
  }
  .signup-textinput1 {
    width: 55%;
  }
  .signup-label-container2 {
    width: 30%;
  }
  .signup-textinput2 {
    width: 55%;
  }
  .signup-label-container3 {
    width: 30%;
  }
  .signup-textinput3 {
    width: 55%;
  }
  .signup-button {
    text-align: center;
    margin-right: 0px;
    justify-content: flex-start;
  }
  .signup-button1 {
    text-align: center;
    margin-right: 0px;
    justify-content: flex-start;
  }
}
@media(max-width: 479px) {
  .signup-header {
    padding: var(--dl-space-space-unit);
  }
  .signup-image {
    left: 20px;
    width: 80px;
  }
  .signup-mobile-menu {
    display: none;
    padding: 16px;
  }
  .signup-image1 {
    left: 20px;
    width: 80px;
  }
  .signup-sign-up-container {
    width: auto;
  }
  .signup-form {
    width: 90%;
    height: auto;
    margin-top: 0px;
    margin-left: var(--dl-space-space-unit);
    margin-bottom: 0px;
  }
  .signup-text {
    font-size: 1.5rem;
  }
  .signup-text1 {
    font-size: 16px;
  }
  .signup-form-container {
    width: auto;
    height: auto;
  }
  .signup-name-container {
    align-items: flex-start;
    padding-left: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .signup-label-container {
    width: auto;
  }
  .signup-input-container {
    width: auto;
    align-self: stretch;
  }
  .signup-textinput {
    width: auto;
    margin-left: 0px;
    margin-right: 0px;
  }
  .signup-email-container {
    margin-left: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .signup-label-container1 {
    width: auto;
    align-self: flex-start;
    align-items: flex-start;
    margin-left: 0px;
    flex-direction: column;
    justify-content: flex-start;
  }
  .signup-text3 {
    align-self: flex-start;
  }
  .signup-textinput1 {
    width: auto;
    margin-left: 0px;
    margin-right: 0px;
  }
  .signup-username-container {
    align-items: flex-start;
    margin-left: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .signup-textinput2 {
    width: auto;
    margin-left: 0px;
    margin-right: 0px;
  }
  .signup-password-container {
    align-items: flex-start;
    padding-left: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .signup-textinput3 {
    width: auto;
    margin-left: 0px;
    margin-right: 0px;
  }
  .signup-container2 {
    flex-direction: row;
    justify-content: center;
  }
  .signup-button {
    color: var(--dl-color-primary-pink);
    text-align: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    justify-content: center;
    background-color: var(--dl-color-primary-bg);
  }
  .signup-button1 {
    color: var(--dl-color-primary-pink);
    width: 310px;
    text-align: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    justify-content: center;
    background-color: var(--dl-color-primary-bg);
  }
}
