:root {
  --dl-color-gray-500: #595959;
  --dl-color-gray-700: #999999;
  --dl-color-gray-900: #d9d9d9;
  --dl-size-size-large: 144px;
  --dl-size-size-small: 48px;
  --dl-color-gray-black: #000000;
  --dl-color-gray-white: #ffffff;
  --dl-color-primary-bg: #fae24dff;
  --dl-size-size-medium: 96px;
  --dl-size-size-xlarge: 192px;
  --dl-size-size-xsmall: 16px;
  --dl-space-space-unit: 16px;
  --dl-size-size-xxlarge: 288px;
  --dl-color-primary-pink: #ea3387ff;
  --dl-color-primary-teal: #91fcd4ff;
  --dl-size-size-maxwidth: 1400px;
  --dl-color-gray-bg-light: #fff9c2ff;
  --dl-radius-radius-round: 50%;
  --dl-color-primary-purple: #b06af7ff;
  --dl-space-space-halfunit: 8px;
  --dl-space-space-sixunits: 96px;
  --dl-space-space-twounits: 32px;
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius8: 8px;
  --dl-space-space-fiveunits: 80px;
  --dl-space-space-fourunits: 64px;
  --dl-space-space-threeunits: 48px;
  --dl-space-space-oneandhalfunits: 24px;
}

/* CUSTOM CSS */

#overlay {
  background: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100vh;
  z-index: 100;
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
}

#loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

#user-story-modal {
  width: 95vw;
  height: 90vh;
  overflow: scroll;
}

.modal-container {
  flex: 0 0 auto;
  width: 100%;
  display: none;
  padding: 2rem;
  flex-direction: column;
  background-color: var(--dl-color-primary-teal);
}

button:hover {
  cursor: pointer;
}

#stories-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background: linear-gradient(
    124deg,
    #ff2400,
    #e81d1d,
    #e8b71d,
    #e3e81d,
    #1de840,
    #1ddde8,
    #2b1de8,
    #dd00f3,
    #dd00f3
  );
}

.story-profile {
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
}

a {
  margin-inline: 0.25rem;
  padding: 0.25rem;
  border-radius: 10px;
}

a:hover {
  background: lightblue;
}
.button {
  font-size: 20px;
  font-family: Rubik Mono One;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
}
.input {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.textarea {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
.list-item {
  display: list-item;
}
.teleport-show {
  display: flex !important;
  transform: none !important;
}
.h2 {
  font-size: 60px;
  font-family: Rubik Mono One;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
}
.h1 {
  font-size: 86px;
  font-family: Rubik Mono One;
  font-weight: 700;
  line-height: 1.15;
  text-transform: uppercase;
  text-decoration: none;
}
.subheader {
  font-size: 30px;
  font-family: Rubik Mono One;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
}
.h3 {
  font-size: 30px;
  font-family: Rubik Mono One;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
}
.Paragraph {
  font-size: 24px;
  font-family: Gentium Book Plus;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
/* ANIMATIONS */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
