<div>
  <link href="./hero-container.css" rel="stylesheet" />
  <div class="hero-container-hero-container">
    <div class="hero-container-container">
      <h1 class="hero-container-text"><span>PROGRESS</span></h1>
      <p class="hero-container-text1">
        <span class="hero-container-text2">
          The history of LGBTQ+ Rights Movement
        </span>
        <br />
      </p>
      <div class="hero-container-container1">
        <button
          id="share-story-button"
          type="button"
          class="hero-container-button button"
        >
          <span>Your Story</span>
        </button>
        <button
          id="share-link-button"
          type="button"
          class="hero-container-button1 button"
        >
          <span>Share Link</span>
        </button>
      </div>
    </div>
  </div>
</div>
