<div>
  <link href="./timeline-r-container.css" rel="stylesheet" />
  <div class="timeline-r-container-timeline-r-container">
    <div class="timeline-r-container-year-container">
      <h2 class="timeline-r-container-text"><span>1967</span></h2>
    </div>
    <div class="timeline-r-container-line-container">
      <div class="timeline-r-container-image-container">
        <img
          alt="image"
          src="https://play.teleporthq.io/static/svg/default-img.svg"
          class="timeline-r-container-image"
        />
      </div>
      <div class="timeline-r-container-line-container1">
        <img
          alt="Ellipse152915"
          src="public/external/ellipse152915-m1s-200h.png"
          class="timeline-r-container-ellipse15"
        />
        <div class="timeline-r-container-separator"></div>
      </div>
    </div>
    <div class="timeline-r-container-event-text-container">
      <div class="timeline-r-container-container"></div>
      <div class="timeline-r-container-container1">
        <span class="timeline-r-container-text1">
          <span class="timeline-r-container-text2">Disobedience</span>
          <br />
        </span>
        <span class="timeline-r-container-text4">
          <span>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a gal
          </span>
        </span>
      </div>
    </div>
  </div>
</div>
