<div>
  <link href="./timeline-event-container.css" rel="stylesheet" />
  <div class="timeline-event-container-timeline-event-container">
    <div class="timeline-event-container-event-header">
      <div class="timeline-event-container-container">
        <img
          alt="image"
          src="https://play.teleporthq.io/static/svg/default-img.svg"
          class="timeline-event-container-image"
        />
        <img
          alt="Ellipse152915"
          src="public/external/ellipse152915-m1s-200h.png"
          class="timeline-event-container-ellipse15"
        />
        <div class="timeline-event-container-separator"></div>
        <div class="timeline-event-container-container1">
          <h2 class="timeline-event-container-text"><span>1967</span></h2>
          <span class="timeline-event-container-text1">
            <span class="timeline-event-container-text2">Disobedience</span>
            <br />
          </span>
        </div>
      </div>
    </div>
    <div class="timeline-event-container-event-text-container">
      <div class="timeline-event-container-container2"></div>
      <div class="timeline-event-container-container3">
        <span class="timeline-event-container-text4">
          <span>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a gal
          </span>
        </span>
      </div>
    </div>
  </div>
</div>
